@charset "utf-8";
BODY {PADDING-RIGHT: 0px;PADDING-LEFT: 0px;FONT-SIZE: 12px;PADDING-BOTTOM: 0px;MARGIN: 0px auto;PADDING-TOP: 0px;}
*{font-family:"微软雅黑";}
#bak_pic{height:350px;width:100%;background-repeat: no-repeat; background-positon: 100%, 100%;}
FORM,UL,LI,DL,DD,DT,P,H1,H2,H3,H4,H5,H6 {PADDING: 0px; MARGIN: 0px;}
UL {LIST-STYLE-TYPE: none}
LI {LIST-STYLE-TYPE: none}
IMG {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
.clear {CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 0px}
 HTML .clear {CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 0px}
A {COLOR: #a2a2a2; TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: underline}
.l {float:left;}
.r {float:right;}
#subtop {BACKGROUND: #000;WIDTH: 100%;margin:6px auto;COLOR: #b3b3b3;HEIGHT: 79px;line-height:79px;filter:alpha(Opacity=85);-moz-opacity:0.8;opacity: 0.8;position:absolute;z-index:10;}
#subtop .top_width{width:980px;margin:0px auto;}
#subtop .logo{width:200px;margin:10px 0px 0px 0px;float:left;}
.subtop1 {float:right;}
.subtop1 a{color:#FFF;font-size:15px;padding:10px;margin:0px 10px;}
.subtop1 a.on{color:#000;width:81px;padding:0px;display:inline-block;text-align:center;font-size:16px;background-image: url(../n_images/mbg.gif);background-repeat: no-repeat;background-position: center 24px;		}
.subtop1 #hot{float: left;height: 13px;width: 23px;left: 227px;top: -12px;*top: 18px; display:block;position: relative;}
.subtop1 #new{float: left;height: 16px;width: 21px;left: 308px;top: -9px;*top: 19px; display:block;position: relative;}
#banner{width:100%;overflow:hidden;}
#banner .child{height:356px;position:relative;overflow:hidden;}
#banner .child #banner_img{position:absolute;height:120%;display:none;}

/*圆角CSS*/
.sharp{margin:10px 0px 0px 0px;}
.sharp .content div{text-indent:0em;}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
.content {border-right:1px solid;border-left:1px solid;overflow:hidden;}
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .content{border-color:#dedede;}
.color1 .b1,.color1 .b8{background:#dedede;}
/* end */

#maincontent1 {WIDTH: 1000px; margin:0px auto;}
.webpackage {width:680px;FLOAT: left;}
.title{font-weight:bold;font-size:17px;padding:10px 0px 8px 0px;color:#000;}
/*首页的NEWS*/

.news_default {PADDING-LEFT: 18px; PADDING-TOP: 8px; LINE-HEIGHT: 28px; width:96%;}
.news_default ul li a{font-size:14px;color:#666;}
.news_default LI {PADDING-LEFT:20px;height:30px; line-height:30px;}
.news_default LI SPAN {FONT-SIZE: 10px; FLOAT: right; COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica, sans-serif;}
#maincontent2 {WIDTH: 1000px;margin:0px auto;}
#maincontent3 {WIDTH: 960px;margin:0px auto;}
.webservice {FLOAT: right;}
.ggbox{line-height:23px;font-size:12px;color:#666;width:230px;height:100px;padding:5px;float:left;}
.ggbox p{font-size:18px;color:#333;margin-bottom:8px;}
.userlogin2{color:#797979;}
.userlogin2 ul li{text-align:left;padding:4px 0px 4px 0px;}
.userlogin2 .input_s{border:1px solid #CCC;height:36px;width:231px;color:#999;line-height:36px;padding:0px 0px 0px 3px;font-size:20px;}
.userlogin2 .input_c{border:1px solid #CCC;height:36px;width:80px;color:#999;line-height:36px;padding:0px 0px 0px 3px;font-size:20px;}
.userlogin2 a{font-size:14px;text-decoration: underline;}
.userlogin2 .PwdStr{position:absolute; font-size:20px; margin:5px 0px 0px 4px; color:#999;}
#reg{padding:10px 0px 0px 0px;}
.regg{padding:10px 0px 0px 0px;text-align:center;}
.friend{color:#999;height:40px;line-height:40px;}
.friend1{color:#999;height:20px;line-height:20px;}
.friend a{margin:0px 15px;}
#bottom2 {PADDING-LEFT: 34px; COLOR: #a2a2a2; LINE-HEIGHT: 25px; HEIGHT: 230px; margin:0px auto; background-color:#181818; padding:20px 0px;}
#bottom2 hr{height:1px;color:#333;}
#bottom3 {PADDING-LEFT: 34px; COLOR: #a2a2a2; LINE-HEIGHT: 25px; HEIGHT: 60px; margin:0px auto; background-color:#181818; padding:20px 0px;}
#bottom3 hr{height:1px;color:#333;}
#bottom2 .bottom_title{font-size:16px;}
.bottommenu {COLOR: #ffffff; LINE-HEIGHT: 40px;}
.bottommenu A {COLOR: #ffffff}
.bottommenu A:hover {COLOR: #fff000}
/*注册*/
.Cblack{color:#000;}
.Cgray{ color:#999}
.Cred{ color:#C00}
.Cwhite{ color:#FFF}
.Cblue{ color:#0483CC}

.fle{float:left}
.title_child{font-size:25px;color:#000000;padding-top: 16px;padding-right: 0px;padding-bottom: 18px;padding-left: 0px;margin-right: 16px;}
.info b,.info-pop-t,.info-pop-t b,div.info-pop-b b,div.info-pop-b,.info-pop .arr{background-image:url(../n_images/bg.jpg); background-repeat:no-repeat}
.info{ position:relative; height:20px}
b.ico-ok,b.ico-error{display:block;width:18px;height:18px; font-size:0px;overflow:hidden; position:absolute; left:0px; top:3px}
b.ico-ok{ background-position:-5px -3px}
b.ico-error{ background-position:-30px -3px}
.info-pop{width:307px;height:auto; background-color:#EDEDEB; position:absolute;left:32px;top:-4px}
.info-pop-t{width:100%;height:3px; line-height:0px; font-size:0px; overflow:hidden; background-position:-78px -3px}
div.info-pop-t b{ display:block; width:5px; height:3px; font-size:0px; overflow:hidden}
.info-pop-t b.cr-l{ float:left; background-position:-75px -3px}
.info-pop-t b.cr-r{ float:right; background-position:-440px -3px}
.info-pop-c .cont{ clear:both; margin-right:2px; border:#BEBCB5 1px solid; padding:2px 10px; background-color:#FFFEF6; border-width:0px 1px; color:#4A4A4A; line-height:24px; font-family:simsun}
.info-pop-t{width:100%;height:3px; line-height:0px; font-size:0px; overflow:hidden; background-position:-80px -3px}
.info-pop-b{width:100%;height:5px; line-height:0px; font-size:0px; overflow:hidden; background-position:-78px -11px}
div.info-pop-b b{ display:block; width:5px; height:5px; font-size:0px; overflow:hidden}
.info-pop-b b.cr-l{ float:left; background-position:-75px -11px}
.info-pop-b b.cr-r{ float:right; background-position:-440px -11px}
.info-pop .arr{ width:9px; height:13px; overflow:hidden; position:absolute; left:-8px; top:10px; background-position:-65px -3px}
.psw-sinfo{float:left;width:180px;height:auto;background-color:#999;border:#666 1px solid;background-color:#FFF; margin:3px 4px 0px 4px}
/*密码强度*/
.psw-sinfo .bar{ background-color:#FFF; margin:1px; height:8px; font-size:0px; line-height:0px}
.psw-sinfo .state0{background-color:#FFF}
.psw-sinfo .state1{background-color:#C00;width:25%}
.psw-sinfo .state2{background-color:#F90;width:50%}
.psw-sinfo .state3{background-color:#2CA4DE;width:75%}
.psw-sinfo .state4{background-color:#40984C}

#loginalready{float:left;color:#696969;font-size:12px;font-family:Arial, Helvetica, sans-serif;line-height:25px;padding:0px;}
#loginalready hr{height:1px;width:200px;margin:0px;color:#CCC;text-align:left;}
#loginalready a{color:#FFF;margin:15px 10px 0px 0px;text-decoration: none;background-color:#fff4be;font-weight:bold;display:inline-block;height:30px;width:60px;text-align:center;background-color:#84bce2;}
#loginalready b{color:#F00;text-decoration: underline;font-size:17px;}
#loginalready strong{color:#2258bc;padding:0px 3px 0px 3px;text-decoration: underline;}
/*公告*/
.d{background-color:#efefef;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:0px 0px 0px 5px;border-bottom:1px solid #e4e4e4;}
.news { PADDING-TOP: 14px; LINE-HEIGHT: 28px; width:90%;}
.news ul li a{font-size:14px;color:#666;}
.news li {PADDING-LEFT:20px;height:40px; line-height:40px;}
.news li span {FONT-SIZE: 10px; FLOAT: right; COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.page{display:block;text-align:left;padding-top: 10px;padding-right: 16px;padding-bottom: 18px;padding-left: 16px;}
.page a{float: left;margin-left: 5px;border: 1px solid #CCCCCC;font-size: 12px;padding-right: 4px;padding-left: 4px;}
.page a:hover{background-color: #EDF3F3;text-decoration: none;}
.page .sel {float: left;margin-left: 5px;border: 1px solid #CCCCCC;font-size: 12px;padding-right: 4px;padding-left: 4px;background-color: #FAFAFA;}
.article{font-size:14px;line-height:33px;color:#333;}
.article table{border-right-width: 1px;border-bottom-width: 1px;border-right-style: dotted;border-bottom-style: dotted;border-right-color: #CCC;border-bottom-color: #CCC;	}
.article td{border-top-width: 1px;border-left-width: 1px;border-top-style: dotted;border-left-style: dotted;border-top-color: #CCC;border-left-color: #CCC;}
.ggbox span{float: left;width:115px;}
.content a{color:#666666;}
.fu_tit{font-size: 16px;font-weight: bold;width: 210px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;margin-left: 20px;margin-bottom: 10px;}
.jifenshop img{padding: 6px;border: 1px solid #CCC;}
.more {font-size: 12px;font-weight: normal;color: #999;text-decoration: none;}
