#initEmails {line-height: 20px;background:#fff ;border:1px solid #ccc;position: absolute;text-align: left;width: 200px;z-index: 9999;}
#initEmails li{padding-left:10px}
#initEmails .xs{background:#fff}
#initEmails .ys{background:#ccc}
